@{
    ViewBag.Title = "Conexión con Base de Datos Mongo";
}
<h2>@ViewBag.Title.ToUpper().</h2>
<h3>@ViewBag.Message</h3>

<p>Seleccione la acción de Crear para hacer una base de datos nueva con una colección por default</p>
